.diarylist {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 100px);
  margin-top: 10px;
}

.diarylist .diarylist-wrapper {
  width: 100%;
  flex: 1;
  max-height: calc(100vh - 180px);

  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}

.diarylist .diarylist-wrapper::-webkit-scrollbar {
  display: none;
}

.diarylist-button {
  justify-self: center;
}
