.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 120px);
}

.editor-date input {
  background-color: transparent;
  font-size: 1.6rem;
}

.editor-content {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.editor-content textarea {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  flex: 1;
  background-color: transparent;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.editor-content textarea::-webkit-scrollbar {
  display: none;
}

.editor-submit-btn {
  align-self: end;
}
